{% extends "base2.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static '/css/my_css.css' %}">

{% endblock css %}

<body>
     {% block content %}
    <section>
        <div class="container">
            <div class="row mt-1">
                <div class="col-lg-2">
                    <!-- Пустой блок на усмотрение -->
                </div>
                <div class="col-lg-10">
                    <!-- Контент на странице -->
                    <div class="row">
                        <div class="container mt-5">
                            <div class="row">
                                
                                <!-- Профиль с данными пользователя -->
            <div class="col-md-5">
                <div class=" bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                    <h3 class="text-center mb-4">Профіль користувача</h3>
                    <form action="{% url "users:profile" %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 mb-3 text-center">
                                {% if user.image %}
                                    <img src="{{ user.image.url }}"
                                        alt="Аватар користувача" class="img-fluid"
                                        style="max-width: 150px;">
                                {% else %}
                                    <img src="{% static "/images/baseavatar.jpg" %}"
                                        alt="Аватар користувача" class="img-fluid"
                                        style="max-width: 150px;">
                                {% endif %}
                                <input type="file" class="form-control mt-3" id="id_image"
                                    name='image'
                                    accept="image/*">
                                    {% if form.image.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.image.errors}}</div>
                                    {% endif %}
                                    
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="id_first_name" class="form-label">Ім'я*</label>
                                <input type="text" class="form-control" id="id_first_name"
                                    name="first_name"
                                    placeholder="Ваше ім'я"
                                    value="{{ form.first_name.value }}"
                                    required>
                                    {% if form.first_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
                                    {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="id_last_name" class="form-label">Фамілія*</label>
                                <input type="text" class="form-control" id="id_last_name"
                                    name="last_name"
                                    placeholder="Введіть вашу фамілію"
                                    value="{{ form.last_name.value }}"
                                    required>
                                    {% if form.last_name.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
                                    {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="id_username" class="form-label">Ім'я користувача*</label>
                                <input type="text" class="form-control" id="id_username"
                                    name="username"
                                    placeholder="Введіть ваше ім'я користувача"
                                    value="{{ form.username.value }}"
                                    required>
                                    {% if form.username.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.username.errors}}</div>
                                    {% endif %}
                            </div>
                            <div class="col-md-12 mb-3">
                                <label for="id_email" class="form-label">Email*</label>
                                <input type="email" class="form-control" id="id_email"
                                    name="email"
                                    placeholder="Введіть ваш email *youremail@example.com"
                                    value="{{ form.email.value }}"
                                    required>
                                    {% if form.email.errors %}
                                    <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
                                    {% endif %}
                            </div>
                             <div class="col-md-12 mb-3">
                                 <label for="id_inn" class="form-label">ІПН*</label>
                                 <input type="text" class="form-control" id="id_inn" name="inn"
                                     placeholder="Введіть ваш іпн"
                                     value="{{ form.inn.value }}" required>
                                 {% if form.inn.errors %}
                                 <div class="alert alert-danger alert-dismissible fade show">{{form.inn.errors}}</div>
                                 {% endif %}
                             </div>
                        </div>
                        <button type="submit" class="btn btn-dark">Зберегти</button>
                         <a class="btn btn-dark" href="
                                                {% url 'work:emp' %}">Вихід</a>
                    </form>
                </div>
            </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     {% endblock content %}
 
</body>

</html>