{% extends "base2.html" %}
{% load static %}
{% block css %}

{% endblock css %}

{% block content %}
<div class="container-fluid ">
    <div class="row">
        <div class="col-lg-1 ">


        </div>
        <div class="col-lg-8 pravoruch">
         
            <iframe src="https://calendar.google.com/calendar/embed?src=klt230773%40gmail.com&ctz=Europe%2FKiev"
                style="border: 0" width="800" height="600" frameborder="0" scrolling="no" class="m-4"></iframe>
        </div>
         <div class="col-lg-3 pravoruch">
            <h4 class="m-4">Корисні посилання: </h4>
            <p>
                <a href="https://cabinet.tax.gov.ua/" class="s4">Електронний кабінет ДПС </a>
            </p>
            <p><a href="https://portal.pfu.gov.ua/sidebar/templates/profile" class="s4">Портал ПФУ</a>
            </p>
            <p><a href="https://web.cashdesk.com.ua" class="s4">ПРРО CASHDESK</a></p>

            <p><a href="https://paperless.com.ua/uk/" class=" s4">EDI PAPERLESS</a></p>
            <p><a href="https://vchasno.ua/" class=" s4">EDI ВЧАСНО</a></p>


        </div>
        
    </div>
</div>
{% endblock content %}

    
